<div class="modal fade" id="splashscreen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h4 class="modal-title">About</h4>
      </div>
      <div class="modal-body">
        <div>Version $settings.getVersion()</div>
        <div class="mvm">
          Ping Identity Corporation<br/>
          1001 17th Street<br/>
          Suite 100<br/>
          Denver, CO 80202<br/>
          +1 303 468 2900
        </div>
        <div><a href="https://www.pingidentity.com">https://www.pingidentity.com</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
