<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Service Account Manager - Password Change Successful</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ssam.css" rel="stylesheet">
    <link href="images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    #parse("_nav.vm")
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Password Changed</h3>
          </div>
          <div class="panel-body">
            <p>You have successfully changed your password.</p>
            <div class="mtl">
              <a id="finish" class="btn btn-primary" href="user" tabIndex="1">Done</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/ssam-security-patch.js"></script>
    <script type="text/javascript">
      buster(document, top);
    </script>
    <script src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#finish").focus();  
      });
    </script>
  </body>
</html>