<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Service Account Manager - Change Password</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ssam.css" rel="stylesheet">
    <link href="images/favicon.ico" rel="shortcut icon">
  </head>
  <body class="main-body">
    #parse("_nav.vm")
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Change Password - Code Verification</h3>
          </div>
          <div class="panel-body">
            <div id="errorAlerts">
              #if ($error)
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>
                  #if($error.contains("password"))
                    $error
                  #else
                    Failed to verify your code because of missing or invalid information. Update the fields below and try again.
                  #end
                </span>
              </div>
              #end
              #if($recaptchaErrorAlert)
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Something is wrong with the reCAPTCHA response. Please try again.
                </div>
              #end
            </div>
            <form action="resetPassword" method="POST" autocomplete="off" onsubmit="return validate()">
              <h4>Password Change Code Sent</h4>
              <p>A password change code has been sent via your account recovery contact method. When you have received the code, enter it below along with a new password.
                If you do not receive the code, you can <a href="recoverPassword">request another code to be sent</a>.</p>

              <input type="hidden" name="$_csrf.parameterName" value="$_csrf.token" />

              <div class="form-group">
                <label for="code" class="control-label required">Password Change Code</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="hidden" name="code" id="code">
                  #if ($settings.isSingleInputEnabled())
                    <input class="form-control code" type="text" placeholder="Enter or paste code" required>
                  #else
                    #foreach ($number in [1..$settings.getNumberOfInputs()])
                      <input class="text-center input-single code" type="text" required size="1" maxlength="1" required>
                    #end 
                  #end
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="control-label required">New Password</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="password" class="form-control" name="password" placeholder="New Password" id="password" required>
                    #parse("_password-requirements.vm")  
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm_password" class="control-label required">Confirm New Password</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Confirm New Password" id="confirmPassword">
                  </div>
                </div>
              </div>
                #if ($useRecaptcha && $settings.isRecaptchaEnabled())
                  <div name="g-recaptcha-response" class="g-recaptcha" data-sitekey="$settings.getRecaptchaSiteKey()"></div>
                #end
              <div class="form-group mtl">
                <input id="submitButton" type="submit" value="Change Password" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ssam.js"></script>
    ## reCAPTCHA script
        #if ($useRecaptcha && $settings.isRecaptchaEnabled())
          <script src="https://www.google.com/recaptcha/api.js"></script>
        #end
    <script type="text/javascript">
      $(document).ready(function() {
        autofocusCodeInputs();
        
      #if($passwordRequirements.size() > 0)
        $("#password_requirements_list").on('hide.bs.collapse', function () {
          $("#requirements_link").text("Show Requirements");
        });
        $("#password_requirements_list").on('show.bs.collapse', function () {
          $("#requirements_link").text("Hide Requirements");
        });
      #end
      });
      
      function validate() {
        // verify the required inputs
        if (!verifyRequiredInputs($("form"), $("#errorAlerts"))) {
          return false;
        }        
        // verify the passwords match
        if ($("#password").val().trim() !== $("#confirmPassword").val().trim()) {
          showAlert($("#errorAlerts"), true, "Passwords must match.");
          return false;
        }        
        
        // verify that the verification code is being sent
        $("#code").val(getVerificationCode());     
        return true;
      }
    </script>
  </body>
</html>
